
body{
    background: url("../images/background1.png");
    background-size: cover;
    padding:3%;
    
}
.containerA > *{
    border: 0px solid black;
}
.header{
    grid-area: header; 
    
}
.footer{
    grid-area: footer;
    margin: 1em;
    position: relative;
}

.topnav {
    overflow: hidden;
    
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: white;
    color: darkslateblue;
}


.fa{
    padding:15px;
    width: 1px;
    text-align: center;
    text-decoration: none;
    margin: -15px 2px;
    border-radius: 90%;
    position: relative;
    left: 20PX;
    top:-20PX;
    margin-top: 1%;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
    width: 3%; 
    height: 20%; 
    margin-right:0%;
    margin-bottom: 2%; 
    margin-left: 0%; 
    border: 2px solid black;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
    width: 3%; 
    height: 20%; 
    margin-right:0%;
    margin-bottom: 2%; 
    margin-left: 0%; 
    border: 2px solid black;
}
.fa-youtube{
    background: #bb0000;
    color: white;
    width: 3%; 
    height: 20%; 
    margin-right:0%;
    margin-bottom: 2%; 
    margin-left: 0%; 
    border: 2px solid black;    
}
.fa-instagram{
    background: #123688;
    color: white;
    width: 3%; 
    height: 20%; 
    margin-right:0%;
    margin-bottom: 2%; 
    margin-left: 0%; 
    border: 2px solid black;
}
a.hoveffect:hover {
  color: red;
    width: 3%; 
    height: 20%; 
    margin-right:0%;
    margin-bottom: 2%; 
    margin-left: 0%; 
    border: 2px solid black;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  background: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  width: 10%;
  margin-left: 80%;
}

input[type=submit]:hover {
  background-color: black;
}

.container {
  border-radius: 2%;
  background-color: white;
  border: 1px solid black;
  padding: 60px;
  margin: 20px;
}
